* {
    font-family: "Roboto", sans-serif;
}

.purplesection {
    background-color: #1F2937;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8x;
    margin-right: 8px;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
}

a { 
    text-decoration: none;
    color:white;
}

ul {
    list-style-type: none;

}

.left-text, .right-links {
    display: flex;
    gap: 16px;
    margin: 8px;
    padding: 8px;
  }

.left-text {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
  }

.firstblock {
    display: flex;
    background: #1F2937;
    color:white;
    flex: 1;
    padding: 76px;
}

.firstblockwritten {
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: left;
    margin-left: auto;
}

.firstblocktitle {
    font-weight: 1000;
    font-size: 48px;
    color: #F9FAF8;
}

.firstblockcontent { 
    filter: contrast(50%);
    margin:8px;
    color: #E5E7EB;
}

.placeholder {
    width: 100%;
}

.imgcontainer {
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-right: auto;
}

button {
    background-color: #3882F6;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    padding: 10px;
    width: 100px;
    height: 35px;
}

.secondtitle {
    text-align: center;
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
    padding: 32px;
}

.squareimages {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.image1, .image2, .image3, .image4 {
    text-align: center;
    width: 150px;
}

.caption1, .caption2, .caption3, .caption4  {
    display: block; 
}